@mixin font-face($font-family, $url, $weight, $style) {
  @font-face {
    src:
      url('./assets/fonts/#{$url}.woff2') format('woff2'),
      url('./assets/fonts/#{$url}.woff') format('woff'),
      url('./assets/fonts/#{$url}.ttf') format('ttf');
    font-family: '#{$font-family}';
    font-weight: #{$weight};
    font-style: $style;
    font-display: swap;
  }
}

@mixin on-mobile {
  @media (max-width: 360px) {
    @content;
  }
}

@mixin on-tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin on-laptop {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin page-grid {
  --grid-columns: 3;

  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: 29px;

  @include on-tablet {
    --grid-columns: 2;
  }

  @include on-mobile {
    --grid-columns: 1;
  }
}
